<header class="stickyHeader">    
    <%- include('../components/_cancelTopbar', {step: 1}) %>
    
    <%- include('../projects/headers/_project', { project }) %>
</header>


<div class="mainContentContainer">
    <h1>Review Milestone</h1>
    
    <div id="" class="reviewMilestone">
        <div class="reviewMilestone__col milestoneReviewInfo">

            <h2 class="milestoneReviewInfo__title">
                <img class="attachment"
                src="/developers/<%= project.consultantId %>/attachment"
                />
                Project consultant <%= project.consultant.name %> submitted a Milestone
            </h2>
            
            <section class="milestoneReviewInfo__content">
                
                <arcticle class="milestone">
                    <header class="milestone__header">
                        <%- include('../milestones/info/_headerMilestone', { milestone }) %>
                    </header>
                    
                    <div class="milestone__description">
                        <small><%= milestone.description %></small>
                    </div>
                    
                    <div class="milestone__dev">
                        <%- include("../milestones/info/__showDeveloper", {milestone}) %>
                    </div>
                </arcticle>
                
                <article class="contentBlock">
                    <h6>
                        Documentation
                    </h6>
                    <p><%= milestone.documentation %></p>
                </article>
                
                <article class="contentBlock">
                    <h6>
                        Other Links
                    </h6>
                    <p><%= milestone.links %></p>
                </article>
                
            </section>
        </div>
        <div class="reviewMilestoneContainer__col milestoneReviewActions">

            <section class="milestoneReviewActions__action milestoneReviewAction milestoneReviewAction--accept">
                <h3>Accept Submission</h3>
                
                <form action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/acceptOrRejectSubmission?_method=PUT"
                    method="POST">
                    
                    <div class="formContainer commentForm">
                        <label for="comment">Add Comment:</label>
                        <input type="text" id="comment" name="comment"
                        value=""
                        placeholder="Add a Comment (optional)" autocomplete="off">
                        
                        <input type="hidden" id="accept" name="accept" value="accept">
                    </div>
                    
                    <button class="projectFlow btn btn_primary" type="submit">
                        Submit Response
                    </button>
                </form>
            </section>
            
            <section class="milestoneReviewActions__action milestoneReviewAction milestoneReviewAction--reject">
                
                <h3>Reject Submission</h3>
                
                <div class="message">
                    <div class="message__header">
                        <h6>
                            You’re about to reject a milestone submission
                        </h6>
                        
                        <p>
                            Rejecting this milestone submission initiates a formal dispute.
                        </p>
                    </div>
                    <div class="message__info">
                        <p>
                            Here’s how it works:
                        </p>
                        
                        <ol>
                            <li>
                                1. You, as the client, will state your reasons, which are added to the dispute record.
                            </li>
                            <li>
                                2. The Project Coordinator can then add their arguments and change their submission.
                            </li>
                            <li>
                                3. Until you don’t accept the milestone, the payment will be held.
                            </li>
                        </ol>
                    </div>
                </div>
                <form action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/acceptOrRejectSubmission?_method=PUT"
                    method="POST">
                    
                    <div class="formContainer commentForm">
                        <label for="comment">State your reasons for rejection:</label>
                        <input type="text" id="comment" name="comment"
                        value=""
                        placeholder="Add a Comment (optional)" autocomplete="off">
                        
                        <input type="hidden" id="accept" name="accept" value="reject">
                    </div>
                    
                    <button class="projectFlow btn btn_primary" type="submit">
                        Submit Response
                    </button>
                </form>
                
            </section>
        </div>


    </div>
</div>
