
<header class="stickyHeader">
    <%- include('../components/_cancelTopbar', {step: 1}) %>
    
    <%- include('../projects/headers/_project', { project }) %>
</header>

<div class="mainContentContainer reviewMilestone">
    <div class="reviewMilestone__col">
        <div class="projectInfo">
            <%- include("../proposals/info/_bodyProposals", {project}) %>
        </div>
        <div class="milestoneInfo">
            <%- include("../milestones/info/_showMilestone", {project, milestone, showActions: false}) %>
        </div>
    </div>
    
    
    <div class="reviewMilestone__col milestoneReviewActions">
        
        Page for developer to accept or reject a milestone

        <form id="acceptRejectForm" class="acceptOrRejectAssignation__form"
        action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/acceptOrRejectAssignation?_method=PUT"
        method="POST">
        
            <div class="formContainer commentForm">
                <label for="comment">Your Commentary:</label>
                <input type="text" id="comment" name="comment"
                value=""
                placeholder="Comment" autocomplete="off">
                
                <input type="hidden" id="accept" name="accept" value="">
            </div>

            <div class="buttonContainer">
                <button class="btn btn_primary btn_primary--danger"
                    onclick="setAcceptValue('reject'); submitFormById('acceptRejectForm'); return false;">
                    Reject
                </button>
                <button class="btn btn_primary"
                        onclick="setAcceptValue('accept'); submitFormById('acceptRejectForm'); return false;">
                        Accept
                </button>
                
            </div>
            
            <script>
                    function setAcceptValue(value) {
                        document.getElementById("accept").value = value;
                    }
            </script>


        </form>
    </div>
</div>

