<div class="appOneColumn">
    <div class="stickyHeader">

        <%- include('../components/_cancelTopbar', {step: 1}) %>
        
        <%- include('../projects/headers/_project', { project, showActions: false }) %>
    </div>

    <div class="mainContentContainer" style="max-width: 1240px; margin: 0 auto;"> 

        <%- include('../components/headers/_basic', {title: "Edit Milestone"}) %>

        <form id="editMilestoneForm" action="/projects/<%= project.id %>/milestones/<%= milestone.id %>?_method=PUT" method="POST">

            <div class="formContainer formMilestone">
                <%- include("./edit/_formMilestone", {project, milestone}) %>
            </div>


        </form>
        <div class="buttonContainer">

            <a class="btn"
            href="/projects/<%= project.id %>/milestones/edit">
                Cancel
            </a>

            <div style="clear: both;"></div>

            <button class="btn btn_primary" onclick="submitFormById('editMilestoneForm'); return false;">
                Save
            </button>
        </div>

    </div>
</div>