

<div id="appOneColumn">
    <header class="stickyHeader">
        <%- include('../components/_cancelTopbar', {step: 1}) %>
        <%- include('../projects/headers/_project', { project, showActions: false }) %>
    </header>
    
    <section class="mainContentContainer editMilestones">
        <%- include('../components/headers/_basic', {title: "Review the Project Scope and Milestones"}) %>

        <% if (locals.scope.milestones.length === 0) { %>
                <p>
                    No milestones have been created yet.
                </p>
        <% } %>

        <% for (const i in locals.scope.milestones) { %>

            <% const milestone = locals.scope.milestones[i]; %>

            <div class="editMilestones__item">
                <div class="milestone">
                    <%- include("./info/_showMilestone", {milestone, allDeliveryTimes}) %>
                </div>

                <div class="buttonContainer">

                    <% if (locals.loginUser && locals.loginUser.developerId == project.consultantId) { %>

                        <a class="right btn btn_primary"
                           href="/projects/<%= project.id %>/milestones/<%= i %>/edit">
                            Edit
                        </a>

                        <a class="right btn"
                           href="/projects/<%= project.id %>/milestones/<%= i %>?_method=DELETE">
                            <i class="ri-delete-bin-7-line"></i>
                        </a>

                        <% if (+i > 0) { %>
                            <a class="right btn"
                               href="/projects/<%= project.id %>/milestones/swaporder/<%= i %>/<%= +i - 1 %>?_method=PUT">
                                <i class="ri-arrow-up-s-line"></i>
                            </a>
                        <% } else { %>
                            <a class="right btn">
                                <i class="ri-arrow-up-s-line"></i>
                            </a>
                        <% } %>

                        <% if (+i < locals.scope.milestones.length - 1) { %>
                            <a class="right btn"
                               href="/projects/<%= project.id %>/milestones/swaporder/<%= i %>/<%= +i + 1 %>?_method=PUT">
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        <% } else { %>
                            <a class="right btn">
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                        <% } %>

                        <div class="clear"></div>

                    <% } %>
                </div>
            </div>
        <% } %>

        <% if (locals.loginUser && locals.loginUser.developerId == project.consultantId) { %>
            <a class="right btn btn_outline"
            href="/projects/<%= project.id %>/milestones/new">
                Add New Milestone
            </a>
        <% } %>

        <div style="height:20px; clear: both;"></div>

        <% if (locals.loginUser.developerId == project.consultantId &&
                ["deployed"].includes(project.state)) { %>
            <a class="right btn btn_primary btn_href"
            href="/projects/<%= project.id %>">
                Next: Submit Scope
            </a>
        <% } %>
    </section>
</div>


