

<h1>Seleccionar el Developer del milestone <%= milestone.title %></h1>


    <form method="post" action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/developer">
        <p style="border: 1px dotted grey;">
            <input type="radio" name="developerId" value="" /> Nadie
        </p>
        <% for (const developer of validDevelopers) { %>
            <p style="border: 1px dotted grey;">
                <input type="radio"
                       name="developerId"
                       value="<%= developer.id %>"
                        <%= developer.id === milestone.developerId && "checked" %>
                />
                <b><%= developer.name %></b>
            </p>
        <% } %>

        <input type="submit" value="Seleccionar">
    </form>

