<h1>Clients</h1>

<table class="usersIndex">
    <thead>
    <tr>
        <th>Client ID</th>
        <th>Attachment</th>
        <th>Email
            <br/>
            Name
        </th>
        <th>Company
            <br/>
            Department
            <br/>
            Web site
        </th>
        <th>Description</th>
        <th>Location</th>
        <th>Languages</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% clients.forEach(client => { %>
        <tr>
            <td><%= client.id %></td>
            <td>
                <div class="attachment">
                    <%- include("./_attachment", {client}) %>
                </div>
            </td>
            <td><%= client.email %>
                <br/>
                <%= client.name %>
            </td>
            <td><%= client.company %>
                <br/>
                <%= client.department %>
                <br/>
                <%= client.website %>
            </td>
            <td><%= client.description ? "Si" : "No" %></td>
            <td><%= client.location %></td>
            <td><%= client.languages?.join(", ") %></td>

            <td class="actions">
                <a  class="btn btn_primary btn_href" href="/clients/<%= client.id %>/profile/edit" class="button">Edit</a>
                <a  class="btn btn_primary btn_href" is="a-with-tzo" href="/backdoor/client/<%= client.email %>/login">Login</a>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

