<header id="appHeader">
    <div class="login">
        <% if (!locals.loginUser) { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Registro</a>
        <% } else { %>
            <% if (locals.loginUser.isAdmin) { %>
                <span class="adminDAO">Admin</span>
            <% } %>
            <% if (locals.loginUser.developerId) { %>
                <img class="attachment" src="/developers/<%= loginUser.developerId %>/attachment">
                <a href="/developers/<%= loginUser.developerId %>/edit"><%= loginUser.email %></a>
            <% } %>
            <% if (locals.loginUser.clientId) { %>
                <img class="attachment" src="/clients/<%= loginUser.clientId %>/attachment">
                <a href="/clients/<%= loginUser.clientId %>/edit"><%= loginUser.email %></a>
            <% } %>
            <a href="/auth/logout?_method=DELETE">Logout</a>
        <% } %>
    </div>
</header>