<!DOCTYPE html>
<html>
<head>
    <%- include('_head') %>
</head>
<body>
<section id="appOneColumn">
    <%- include('_appHeader') %>
    <%- include('_appNav') %>
    <%- include('_appMain', {body}) %>
    <%- include('_backdoorBtn') %>
</section>

<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>
