<% if ([locals.ProjectState.ProjectInProgress, locals.ProjectState.PaymentReleased, locals.ProjectState.Completed].includes(locals.flowProjectState(project)) ) { %>

    <a class="tab <%= locals.activeTab === 'tasks' ? 'tab--active' : '' %>"
       href="/projects/<%= project.id %>/milestones">
        Tasks
    </a>

    <a class="tab <%= locals.activeTab === 'information' ? 'tab--active' : '' %>"
       href="/projects/<%= project.id %>">
        Information
    </a>

    <a class="tab <%= locals.activeTab === 'payments' ? 'tab--active' : '' %>"
       href="/projects/<%= project.id %>/payments">
        Payments
    </a>
<% } %>
