<% if (project) { %>

    <% if (locals.loginUser && locals.loginUser.isAdmin) { %>

        <button class="adminDAO" onclick="redirectProjectDelete(<%= project.id %>); return false;">Delete</button>
        <br/>
        <button class="adminDAO" onclick="redirectProjectReject(<%= project.id %>); return false;">Reject</button>
        <br/>
        <button class="adminDAO" onclick="redirectProjectApprove(<%= project.id %>); return false;">Approve</button>
        <br/>
        <button class="adminDAO" onclick="redirectSelectProjectConsultant(<%= project.id %>); return false;">Select/Change Consultant</button>
        <br/>

    <% } %>


    <% if (locals.loginUser && locals.loginUser.clientId === project.clientId) { %>

        <% if (!project.state) { %>
            <button class="projectFlow" onclick="redirectProjectEdit(<%= project.id %>); return false;">Review</button>
            <br />
        <% } %>

    <% } %>


    <% if (locals.loginUser && locals.loginUser.developerId === project.consultantId) { %>

        <% if (project.state && ["scopingInProgress"].includes(project.state)) { %>
            <button class="projectFlow" onclick="redirectProjectEdit(<%= project.id %>); return false;">Review</button>
            <br />
        <% } %>

        <% if (project.state && ["tasksPending"].includes(project.state)) { %>
            <button class="projectFlow" onclick="redirectTasksEdit(<%= project.id %>); return false;">Review tasks</button>
            <br />
        <% } %>

        <% if (project.state && ["tasksPending"].includes(project.state)) { %>
            <button class="projectFlow" onclick="redirectTasksSubmit(<%= project.id %>); return false;">Send tasks</button>
            <br />
        <% } %>

    <% } %>

<% } %>
