<% if (project) { %>

    <% if (locals.loginUser && locals.loginUser.isAdmin) { %>


        <a class="right adminDAO" href="/projects/<%= project.id %>?_method=DELETE">Delete</a>

        <a class="right adminDAO" href="/projects/<%= project.id %>/reject?_method=PUT">Reject</a>

        <a class="right adminDAO" href="/projects/<%= project.id %>/approve?_method=PUT">Approve</a>

        <a class="right adminDAO" href="/projects/<%= project.id %>/consultant/select">Select Consultant</a>

    <% } %>


    <% if (locals.loginUser && locals.loginUser.clientId === project.clientId) { %>

        <% if (!project.state) { %>
            <a is="a-with-tzo" href="/projects/<%= project.id %>/edit" class="projectFlow">Review</a>
        <% } %>

        <% if (!project.state) { %>
            <a is="a-with-tzo" href="/projects/<%= project.id %>/projectSubmit?_method=PUT"
               class="projectFlow">Submit</a>
        <% } %>

        <% if (project.state && ["validationNeeded"].includes(project.state)) { %>
            <a href="/projects/<%= project.id %>/scopeAccept?_method=PUT" class="projectFlow">Accept Scope</a>
            <a href="/projects/<%= project.id %>/scopeReject?_method=PUT" class="projectFlow">Reject Scope</a>
        <% } %>
    <% } %>


    <% if (locals.loginUser && locals.loginUser.developerId === project.consultantId) { %>

        <% if (project.state && ["scopingInProgress"].includes(project.state)) { %>
            <a is="a-with-tzo" href="/projects/<%= project.id %>/edit" class="projectFlow">Review</a>
            <a is="a-with-tzo" href="/projects/<%= project.id %>/projectSubmit?_method=PUT"
               class="projectFlow">Submit</a>
        <% } %>

        <% if (project.state && ["taskingInProgress"].includes(project.state)) { %>
            <a href="/projects/<%= project.id %>/tasks/edit" class="projectFlow">Review tasks</a>
        <% } %>

    <% } %>

<% } %>
