
<style>
    .contenedor {

        display: grid;

        grid-template-areas:
                 'title   title   title   title   client state'
                 'summary summary summary summary client   flow'
                 'nav     nav     nav     .       client     flow';
    }
</style>

<header class="contenedor appHeader appHeader--project">

    <h1 class="appHeader__title" style="grid-area: title;"> <%= project.title %> </h1>

    <p class="appHeader__subtitle" style="grid-area: summary;"> <%= project.summary %></p>

    <div class="appHeader__client" style="grid-area: client;">
        <div class="user">
            <img class="attachment" src="/clients/<%= project.clientId %>/attachment">
           <p>
               <%= project.client.name %>
           </p>
        </div>
        <div class="website">
            <i class="ri-global-fill"></i>
            <%= project.client.website %>
        </div>
    </div>

    <!-- <div  style="grid-area: nav;">
        <nav id="projectNav" role="navigation">
            <a href="/projects/<%= project.id %>"><span>Overview</span></a>
            <a href="/projects/<%= project.id %>/tasks"><span>Milestones &amp; Tasks</span></a>
        </nav>
    </div> -->

    <span class="appHeader__state state" style="grid-area: state;"> 
        <i class="ri-timer-2-line"></i>
        <small>
            <%= project.state ?? "Sin publicar aun"%> 
        </small>
    </span>

    <div class="appHeader__actions" style="grid-area: flow;">

        <%- include("../actions/header/_all") %>

    </div>
</header>