<div class="form-group">
    <strong><%= milestone.title %></strong> -

    <small>(<%= milestone.budget %> USD)</small> -

    <small>Delivery:</small> <%= milestone.deliveryTime?.description %>
    <small> (<span id="deliveryDate<%= milestone.id %>"></span>) </small>
    <script type="module">
      document.getElementById("deliveryDate<%= milestone.id %>").innerHTML = new Date(<%= milestone.deliveryDate.valueOf() %>).toLocaleString();
    </script>
</div>

