<div class="form-group">
    <%- include("./_headerMilestone", {milestone}) %>
</div>

<div class="form-group">
  <small><%= milestone.description %></small>
</div>


<div class="form-group">
    <%= milestone.role?.name %>

    <%= milestone.proficiency?.description %>

    <%= milestone.skills.map(s => s.name).join(", ") %>

    <%= milestone.neededFullTimeDeveloper ? "[Full Time]" : "" %>
    <%= milestone.neededPartTimeDeveloper ? "[Part Time]" : "" %>
    <%= milestone.neededHourlyDeveloper ? "[Hours per Week]" : ""%>

</div>


<div class="form-group">
    <%- include("./__showDeveloper", {milestone}) %>
</div>

