<div class="milestone__header">
    <%- include("./_headerMilestone", {milestone, allDeliveryTimes}) %>
</div>

<div class="milestone__description">
  <%= milestone.description %>
</div>


<div class="milestone__role">
    <%= milestone.role || '' %>

    (<%= milestone.proficiency || '' %>)

    <%= milestone.skills?.join(", ") || '' %>

    <% if (milestone.availability) { %>
        <%= milestone.availability === "fulltime" ? "[Full Time]"      : "" %>
        <%= milestone.availability === "parttime" ? "[Part Time]"      : "" %>
        <%= milestone.availability === "hourly"   ? ("[" + (milestone.neededHours || 0) + " Hours per Week]") : "" %>
    <% } else { %>
        <%= milestone.neededFullTimeDeveloper ? "[Full Time]" : "" %>
        <%= milestone.neededPartTimeDeveloper ? "[Part Time]" : "" %>
        <%= milestone.neededHourlyDeveloper   ? ("[" + (milestone.neededHours || 0) + " Hours per Week]") : "" %>
    <% } %>

</div>

<% if (locals.showDeveloper ?? true) { %>
    <div class="milestone__dev">
        <%- include("./__showDeveloper", {milestone}) %>
    </div>
<% } %>

<!-- Note: This should avoid showing an empty button, or when there's nothing, show it disabled with "no actions" -->
<% if (locals.showActions ?? true) { %>
        <div class="milestone__actions">
            <%- include("../actions/info/_all", {project, milestone}) %>
        </div>
<% } %>


<div class="milestone__state">
    <% if (["pending"].includes(milestone.state)) { %>
        <i class="ri-timer-2-line"></i>
    <% } %>

    <small class="state state_secondary">
        <%= locals.flowMilestoneState(milestone) %>
    </small>
</div>
