<div class="form-group">
    <%- include("./_headerMilestone", {milestone}) %>
</div>

<div class="form-group">
  <small><%= milestone.description %></small>
</div>


<div class="form-group">
    <%= milestone.role?.name %>
    <%= milestone.proficiency?.description %>
</div>


<div class="form-group">
    <%- include("./__showDeveloper", {milestone}) %>
</div>
