<div class="milestone__header">
    <%- include("./_headerMilestone", {milestone}) %>
</div>

<div class="milestone__description">
  <%= milestone.description %>
</div>


<div class="milestone__role">
    <%= milestone.role?.name %>

    <%= milestone.proficiency?.description %>

    <%= milestone.skills.map(s => s.name).join(", ") %>
    <!-- <span class="bubble"> -->
        <%= milestone.neededFullTimeDeveloper ? "[Full Time]" : "" %>
    <!-- </span> -->
    <!-- <span class="bubble"> -->
        <%= milestone.neededPartTimeDeveloper ? "[Part Time]" : "" %>
    <!-- </span> -->
    <!-- <span class="bubble"> -->
        <%= milestone.neededHourlyDeveloper ? "[Hours per Week]" : ""%>
    <!-- </span> -->

    <!-- Pregunta: Esto habría que quitarlo ????? -->
    <!-- <span class="bubble">
        <% if (milestone.neededFullTimeDeveloper) { %>
            "[Full Time]"
        <% } else if (milestone.neededPartTimeDeveloper) { %>
            "[Part Time]"
        <% } else if (milestone.neededHourlyDeveloper) { %>
            "[Hours per Week]"
        <% } else { %>
            ""
        <% } %>
    </span> -->
</div>

<% if (locals.showDeveloper ?? true) { %>
    <div class="milestone__dev">
        <%- include("./__showDeveloper", {milestone}) %>
    </div>
<% } %>

<!-- Pregunta: esto hay que evitar que salga un botón vacío o si acaso que cuando no haya nada salga desactivado y ponga que no hay acciones -->
<% if (locals.showActions ?? true) { %>
        <div class="milestone__actions">
            <%- include("../actions/info/_all", {project, milestone}) %>
        </div>
<% } %>



<div class="milestone__state">
    <% if (milestone.state.toLowerCase().includes("waiting")) { %>
        <i class="ri-timer-2-line"></i>
    <% } %>
    <%= milestone.state %>
</div>
