<%- include('../components/_cancelTopbar', {step: 1}) %>

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_progressSidebar', {step: 2}) %>
    </div>

    <div class="col2">

        <%- include('../components/headers/_basic', {title: "What do you want to achieve?"}) %>


        <div class="projectContainer1col">

            <div class="card">
                <%- include("./edit/_editObjectives", {project}) %>

                <% if ((locals.loginUser.clientId === project.clientId &&
                                !project.state) ||
                        (locals.loginUser.developerId === project.consultantId &&
                                project.state &&
                                ["scopingInProgress"].includes(project.state))) { %>

                    <%- include("./edit/_newObjective", {project}) %>

                <% } %>
            </div>


            <div class="card">
                <%- include("./edit/_editConstraints", {project}) %>

                <% if ((locals.loginUser.clientId === project.clientId &&
                                !project.state) ||
                        (locals.loginUser.developerId === project.consultantId &&
                                project.state &&
                                ["scopingInProgress"].includes(project.state))) { %>
                    <%- include("./edit/_newConstraint", {project}) %>

                <% } %>
            </div>

            <div class="buttonContainer">

                <button class="button" onclick="redirectProjectEdit(<%= project.id %>); return false;">Back</button>

                <% if (locals.loginUser.clientId === project.clientId &&
                        (!project.state ||
                         ["rejected"].includes(project.state))) { %>

                    <button class="button" onclick="redirectProjectShow(<%= project.id %>); return false;">
                        Next: Review & Submit
                    </button>

                <% } %>
            </div>

        </div>
    </div>
</div>
