<%- include('../components/_cancelTopbar', {step: 1}) %>

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_progressSidebar', {step: 2}) %>
    </div>

    <div class="col2 projectContainer1col">

        <%- include('../components/headers/_basic', {title: "What do you want to achieve?"}) %>


        <div class="proposalForm">

            <div class="card">
                <%- include("./edit/_editObjectives", {project}) %>

                <% if ((locals.loginUser.clientId === project.clientId &&
                                !project.state) ||
                        (locals.loginUser.developerId === project.consultantId &&
                                project.state &&
                                ["ScopingInProgress"].includes(project.state))) { %>

                    <%- include("./edit/_newObjective", {project}) %>

                <% } %>
            </div>


            <div class="card">
                <%- include("./edit/_editConstraints", {project}) %>

                <% if ((locals.loginUser.clientId === project.clientId &&
                                !project.state) ||
                        (locals.loginUser.developerId === project.consultantId &&
                                project.state &&
                                ["ScopingInProgress"].includes(project.state))) { %>
                    <%- include("./edit/_newConstraint", {project}) %>

                <% } %>
            </div>

            <div class="proposalForm__btnContainer">

                <a class="btn"
                   href="/projects/<%= project.id %>/edit">
                    Back
                </a>

                <% if (locals.loginUser.clientId === project.clientId &&
                        (!project.state ||
                         ["ProposalRejected"].includes(project.state))) { %>

                    <a class="btn btn_primary btn_href"
                       href="/projects/<%= project.id %>">
                        Next: Review & Submit
                    </a>

                <% } %>
            </div>

        </div>
    </div>
</div>
