<%- include('../components/_cancelTopbar', {step: 1}) %>

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_progressSidebar', {step: 2}) %>
    </div>

    <div class="col2 mainContentContainer">

        <%- include('../components/headers/_basic', {title: "What do you want to achieve?"}) %>


        <div class="proposalForm">

            <div class="card">
                <% if (locals.loginUser.clientId === project.clientId) { %>
                    <% if (!project.state || ["ProposalRejected"].includes(project.state)) { %>
                        <%- include("./edit/_editObjectives", {project}) %>
                        <%- include("./edit/_newObjective", {project}) %>
                    <% } %>
                <% } %>
            </div>


            <div class="card">
                <% if (locals.loginUser.clientId === project.clientId) { %>
                    <% if (!project.state || ["ProposalRejected"].includes(project.state)) { %>
                        <%- include("./edit/_editConstraints", {project}) %>
                        <%- include("./edit/_newConstraint", {project}) %>
                    <% } %>
                <% } %>
            </div>

            <div class="proposalForm__btnContainer">

                <a class="btn"
                   href="/projects/<%= project.id %>/edit">
                    Back
                </a>

                <% if (locals.loginUser.clientId === project.clientId) { %>
                    <% if (!project.state || ["ProposalRejected"].includes(project.state)) { %>
                        <a class="btn btn_primary btn_href"
                           href="/projects/<%= project.id %>/submit">
                            Next: Review & Submit
                        </a>
                    <% } %>
                <% } %>
            </div>

        </div>
    </div>
</div>
