
<%- include('../components/_cancelTopbar', {step: 1}) %>

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_progressSidebar', {step: 1}) %>
    </div>

    <div class="col2 projectContainer1col">

        <%- include('../components/headers/_basic', {title: "Let´s start with your project description"}) %>

        <div class="proposalForm">

            <form class="proposalForm__form" is="form-with-tzo" id="editProposalForm" action="/projects/<%= project.id %>?_method=PUT"
                  method="POST">
                <!-- <div class="projectProposal projectProposal__form"> -->
                <%- include("./edit/_formProposal", {project, allBudgets, allDeliveryTimes, allProjectTypes}) %>
                <!-- </div> -->
            </form>

            <div class="buttonContainer">
                <span></span>
                <button class="button btn btn_primary" onclick="submitFormById('editProposalForm'); return false;">
                    Next: Define Objectives
                </button>
            </div>
        </div>

    </div>

</div>
