

<%- include('../components/_cancelTopbar', {step: 1}) %>


<div id="appTwoColumns">

    <div class="col1">
        <!-- Progress Sidebar -->
        <%- include('../components/_progressSidebar', {step: 3}) %>
    </div>

    <div class="col2">
        <%- include('../components/headers/_basic', {
               title: "Ready to share this with our team?",
               subtitle: "Once submitted, your project will be reviewed and voted on by DAO members within 48–72 hours."}) %>

        <%- include('./info/_header', {project}) %>

        <div class="projectContainer1col">
            <div class="projectProposal projectProposal__summary">

                <%- include('./info/_body', {project}) %>

            </div>

            <button class="projectFlow btn"
                    onclick="redirectProjectEdit(<%= project.id %>); return false;">Review</button>

            <button class="projectFlow btn btn_primary"
                    onclick="redirectProjectSubmit(<%= project.id %>); return false;">Submit Project</button>
        </div>
    </div>
</div>
