<div class="card-title">Constraints</div>

<ul>
    <% for (const i in project.constraints) { %>
        <% const constraint = project.constraints[i]; %>
        <li>
            <%= constraint.description %>

            <% if (locals.loginUser.clientId === project.clientId) { %>
                        <a class="right btn btn_primary btn_href"
                           href="/projects/<%= project.id %>/edit/<%= constraint.id %>?_method=DELETE">
                                🗑️
                        </a>
            <% } %>

            <% if (+i > 0) { %>
                        <a class="right btn btn_primary btn_href"
                                href="/projects/<%= project.id %>/edit/swaporder/<%= constraint.id %>/<%= project.constraints[+i - 1].id %>?_method=PUT">
                                ▲
                        </a>
            <% } else { %>
                <button class="right btn btn_primary btn_href">▲</button>
            <% } %>

            <% if (+i < project.constraints.length - 1) { %>
                        <a class="right btn btn_primary btn_href"
                           href="/projects/<%= project.id %>/edit/swaporder/<%= constraint.id %>/<%= project.constraints[+i + 1].id %>?_method=PUT">
                                ▼
                        </a>
            <% } else { %>
                <a class="right btn btn_primary btn_href">▼</a>
            <% } %>

            <div class="clear"></div>
        </li>
    <% } %>
</ul>
