<h5>Technical or functional constraints (optional)</h5>

<ul>
    <% for (const i in project.constraints) { %>
        <% const constraint = project.constraints[i]; %>
        <li class="editConstraint">
            <span class="description">
                <%= constraint.description %>
            </span>

            
            <% if (+i > 0) { %>
                <a class="right btn"
                href="/projects/<%= project.id %>/constraints/swaporder/<%= constraint.id %>/<%= project.constraints[+i - 1].id %>?_method=PUT">
                <i class="ri-arrow-up-s-line"></i>
            </a>
            <% } else { %>
                <button class="right btn"><i class="ri-arrow-up-s-line"></i></button>
                <% } %>
                
                <% if (+i < project.constraints.length - 1) { %>
                    <a class="right btn"
                    href="/projects/<%= project.id %>/constraints/swaporder/<%= constraint.id %>/<%= project.constraints[+i + 1].id %>?_method=PUT">
                    <i class="ri-arrow-down-s-line"></i>
                </a>
                <% } else { %>
                    <a class="right btn"><i class="ri-arrow-down-s-line"></i></a>
                    <% } %>
                    
                    <!-- delete btn -->
                    <% if (locals.loginUser.clientId === project.clientId) { %>
                                <a class="right btn"
                                   href="/projects/<%= project.id %>/constraints/<%= constraint.id %>?_method=DELETE">
                                        <i class="ri-delete-bin-7-line"></i>
                                </a>
                    <% } %>


            <div class="clear"></div>
        </li>
    <% } %>
</ul>
