<h5>Key objectives</h5>
<p>Write these in terms of user value or outcomes. For example: “Build a simple front-end to interact with my contract”</p>

<ul>
    <% for (const i in project.objectives) { %>
        <% const objective = project.objectives[i]; %>
        <li class="editObjective">
            <span class="description">
                <%= objective.description %>
            </span>



            <% if (+i > 0) { %>
                <a class="right btn"
                        href="/projects/<%= project.id %>/objectives/swaporder/<%= objective.id %>/<%= project.objectives[+i - 1].id %>?_method=PUT">
                    <i class="ri-arrow-up-s-line"></i>
                </a>
            <% } else { %>
                <a class="right btn"><i class="ri-arrow-up-s-line"></i></a>
            <% } %>

            <% if (+i < project.objectives.length - 1) { %>
                <a class="right btn"
                   href="/projects/<%= project.id %>/objectives/swaporder/<%= objective.id %>/<%= project.objectives[+i + 1].id %>?_method=PUT">
                    <i class="ri-arrow-down-s-line"></i>
                </a>
            <% } else { %>
                <a class="right btn"><i class="ri-arrow-down-s-line"></i></a>
            <% } %>

            <!-- Delete btn -->
            <% if (locals.loginUser.clientId === project.clientId) { %>
                        <a class="right btn"
                           href="/projects/<%= project.id %>/objectives/<%= objective.id %>?_method=DELETE">
                                <i class="ri-delete-bin-7-line"></i>
                        </a>
            <% } %>


            <div class="clear"></div>
        </li>
    <% } %>
</ul>
