<div class="card-title">Objectives</div>

<ul>
    <% for (const i in project.objectives) { %>
        <% const objective = project.objectives[i]; %>
        <li>

            <%= objective.description %>

            <% if (locals.loginUser.clientId === project.clientId) { %>
                        <a class="right btn btn_primary btn_href"
                           href="/projects/<%= project.id %>/objectives/<%= objective.id %>?_method=DELETE">
                                🗑️
                        </a>
            <% } %>

            <% if (+i > 0) { %>
                <a class="right btn btn_primary btn_href"
                        href="/projects/<%= project.id %>/objectives/swaporder/<%= objective.id %>/<%= project.objectives[+i - 1].id %>?_method=PUT">
                    ▲
                </a>
            <% } else { %>
                <a class="right btn btn_primary btn_href">▲</a>
            <% } %>

            <% if (+i < project.objectives.length - 1) { %>
                <a class="right btn btn_primary btn_href"
                   href="/projects/<%= project.id %>/objectives/swaporder/<%= objective.id %>/<%= project.objectives[+i + 1].id %>?_method=PUT">
                    ▼
                </a>
            <% } else { %>
                <a class="right btn btn_primary btn_href">▼</a>
            <% } %>

            <div class="clear"></div>
        </li>
    <% } %>
</ul>
