<div id="appTwoColumns">
    <div class="col1">
        <!-- Sidebar -->
        <%- include('../../components/_mainSidebar') %>
    </div>
    <div class="col2">
        <div class="profileHeader">
            <div class="profileHeader__left">
                <img class="attachment" src="<%= avatarUrl %>" alt="<%= developer.name %>"/>
                <div class="profileHeader__info">
                    <h3><%= developer.name %></h3>
                </div>
            </div>
            <%
                let availability;
                switch (developer.availability) {
                case "FullTime": availability = "Full-time"; break;
                case "PartTime": availability = "Part-time"; break;
                case "NotAvailable": availability = "Not available"; break;
                case "WeeklyHours": availability = developer.availableHoursPerWeek + " hours/week"; break;
                }
            %>

            <div class="profileHeader__status <%= developer.availability !== 'NotAvailable' ? 'active' : '' %>">
                <div class="toggle"></div>
                <span>Available for Work</span>
            </div>
        </div>


        <section class="profile">
            <div class="profileCard">
                <div class="profileCard__header">
                    <div class="profileCard__titles">
                        <h2 class="profileCard__title"><%= developer.role || ''%> Developer</h2>
                        <span class="profileCard__subtitle"><%= developer.proficiency || '' %></span>
                    </div>
                    <a href="/developers/<%= loginUser.developerId %>/profile/edit" class="btn btn__link">
                        <i class="ri-user-line"></i>Edit Profile
                    </a>
                </div>
                
                <div class="profileCard__section">
                    <h3>Bio</h3>
                    <p><%= developer.bio || 'No bio available.' %></p>
                </div>

                <div class="profileCard__section">
                    <h3>Background</h3>
                    <p><%= developer.background || 'No background information.' %></p>
                </div>

                <div class="profileCard__skills">
                    <% if (developer.skills && developer.skills.length > 0) { %>
                        <% developer.skills.forEach(skill => { %>
                            <span class="skill"><%= skill %></span>
                        <% }) %>
                    <% } else { %>
                        <span class="skill">Without skills.</span>
                    <% } %>
                </div>

                <div class="profileCard__section">
                    <ul class="infoList">

                        <li>
                            <i class="ri-translate-2"></i>
                            <%= languageNames.length ? languageNames.join(', ') : 'No languages' %>
                        </li>

                        <li>
                            <i class="ri-map-pin-line"></i>
                            <%= developer.location || 'No location' %>
                        </li>

                        <li>
                            <i class="ri-earth-line"></i>
                            <%= developer.portfolioUrl || 'No portfolio Url'%>
                        </li>

                        <li>
                            <i class="ri-github-line"></i>
                            <%= developer.githubUsername || 'No github account' %>
                        </li>

                        <li>
                            <i class="ri-mail-line"></i>
                            <%= developer.email || 'No email' %>
                        </li>

                        <li>
                            <i class="ri-time-line"></i>
                            <%= availability || 'No availability' %>
                        </li>

                    </ul>
                </div>
            </div>

        </section>
    </div>
</div>







