<% if (locals.loginUser && locals.loginUser.clientId === project.clientId) { %>

    <% if (project.state && ["ProposalRejected"].includes(project.state)) { %>

        <div class="actionsBody">
            <div class="actionsBody__comment">
                <p>
                    <img class="attachment"
                         src="/developers/<%= project.consultantId %>/attachment" />
                    <%= project.consultant.name %> rejected your project
                </p>
                <p>
                    <%= project.proposalRejectionReason %>.
                </p>
            </div>

            <div class="buttonContainer">
                <a class="right projectFlow btn btn_primary btn_href"
                   href="/projects/<%= project.id %>/edit">
                    Change proposals and re-submit
                </a>
            </div>

            <div class="actionsBody__help">
                <span class="icon">
                    <i class="ri-question-line"></i>
                </span>
                <span class="info">
                    <p>
                        Not sure if to accept or reject?
                    </p>
                    <small>
                        Contact the Project Leader to further investigate
                    </small>
                    <p class="contactMail">
                        <%= project.consultant.user.email %>
                    </p>
                </span>
            </div>
        </div>

    <% } %>
<% } %>
