<% if (locals.loginUser && locals.loginUser.developerId === project.consultantId) { %>

    <% if (project.state && ["WaitingForProposalApproval"].includes(project.state)) { %>

        <div class="actionsBody">
            <div style="padding: 5px; margin: 10px;">
                <a class="right projectFlow btn btn_primary btn_href"
                   href="/projects/<%= project.id %>/proposal_approve?_method=PUT">
                    Approve Proposal
                </a>
            </div>

            <div class="clear"></div>

            <div class="actionsBody__comment">

                <p>
                    <img class="attachment"
                         src="/developers/<%= project.consultantId %>/attachment" />
                    <%= project.consultant.name %> rejected your project
                </p>
                <p>
                    Your Review:
                </p>
                <p>
                    Provide an explaination of your rejection.
                </p>
                <form id="proposalRejectForm" action="/projects/<%= project.id %>/proposal_reject?_method=PUT"
                      method="POST">

                    <div class="form-group">
                        <input type="text" name="proposalRejectionReason"
                               value=""
                               placeholder="Type here your commentary (required)"
                               autocomplete="off">
                    </div>

                    <button class="right projectFlow btn_primary btn_primary--danger"
                            onclick="submitFormById('proposalRejectForm'); return false;">
                        Reject Proposal
                    </button>
            </div>

            <div class="actionsBody__help">
                <span class="icon">
                    <i class="ri-question-line"></i>
                </span>
                <span class="info">
                    <p>
                        Have some doubts about the project brief?
                    </p>
                    <small>
                        Contact the client to further investigate
                    </small>
                    <p class="contactMail">
                        <%= project.client.user.email %>
                    </p>
                </span>

                <div class="clear"></div>

                </form>

            </div>
        </div>

    <% } %>
<% } %>
