<div class="form-group">
    <strong><%= task.title %></strong> -

    <small>(<%= task.budget %> <%= task.currency %>)</small> -

    <small>    <span id="deliveryDate<%= task.id %>"></span>
        <script type="module">
          document.getElementById("deliveryDate<%= task.id %>").innerHTML = new Date(<%= task.deliveryDate.valueOf() %>).toLocaleString();
        </script></small>
</div>

<div class="form-group">
    <%= task.description %>
</div>

<div class="form-group">
    <%= task?.role?.name ?? "Role not Assigned" %>
</div>