<div class="form-group">
    <strong><%= task.title %></strong> -

    <small>(<%= task.budget %> <%= task.currency %>)</small> -

    <small>    <span id="deliveryDate<%= task.id %>"></span>
        <script type="module">
          document.getElementById("deliveryDate<%= task.id %>").innerHTML = new Date(<%= task.deliveryDate.valueOf() %>).toLocaleString();
        </script></small>
</div>

<div class="form-group">
    <%= task.description %>
</div>

<div class="form-group">
    <%= task?.role?.name ?? "Role not Assigned" %>
</div>

<div class="form-group">
    Developer:

    <% if (task.assignation) { %>

        <% if (task.assignation.state !== 'None') { %>
            <img class="attachment"
                 src="/developers/<%= task.assignation.developerId %>/attachment">
            <%= task.assignation.developer?.name ?? "Anonymous" %>
            <% if (task.assignation.state === "Pending") { %>
                [Pending]
            <% } else if (task.assignation.state === "Accepted") { %>
                [Accepted]
            <% } else if (task.assignation.state === "Rejected") { %>
                [Rejected]
            <% } else { %>
                [Unknown state]
            <% } %>
        <% } else { %>
                [Unassigned]
        <% } %>

    <% } else { %>
        [Unassigned]
    <% } %>

    <% if (locals.loginUser && locals.loginUser.isAdmin) { %>
        <button class="adminDAO"
                onclick="redirectSelectTaskDeveloper(<%= project.id %>, <%= milestone.id %>, <%= task.id %>); return false;">
            Select/Change Task Developer
        </button>
    <% } %>

</div>

