<h1>Editar Task</h1>

<form is="form-with-tzo" id="editTaskForm" action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/tasks/<%= task.id %>?_method=PUT" method="POST">

    <div class="card">
        <%- include("./_form", {project, milestone, task, browserTimezoneOffset}) %>
    </div>

</form>

<button class="button" onclick="redirectTasksEdit(<%= project.id %>, <%= milestone.id %>); return false;">
    Cancel
</button>

<button class="button" onclick="submitFormById('editTaskForm'); return false;">
    Save and Next
</button>