<%- include('../projects/headers/_project', {project}) %>

<% for (const milestone of project.milestones) { %>

    <div class="card">

        <%- include("../projects/milestones/_miniShow", {milestone}) %>

        <div class="card-subtitle">Tasks:</div>

        <% for (const i in milestone.tasks) { %>
            <% const task = milestone.tasks[i]; %>

            <div class="subcard">

                <% if (locals.loginUser && locals.loginUser.developerId === project.consultantId) { %>
                    <div class="form-group">
                        <button class="right button"
                                onclick="redirectTaskEdit(<%= project.id %>, <%= milestone.id %>, <%= task.id %>); return false;">
                            Edit
                        </button>

                        <button class="right button"
                                onclick="redirectTaskDelete(<%= project.id %>, <%= milestone.id %>, <%= task.id %>); return false;">
                            🗑️
                        </button>

                        <% if (+i > 0) { %>
                            <button class="right button"
                                    onclick="redirectTasksSwapOrder(<%= project.id %>, <%= task.id %>, <%= milestone.tasks[+i - 1].id %>); return false;">
                                ▲
                            </button>
                        <% } %>

                        <% if (+i < milestone.tasks.length - 1) { %>
                            <button class="right button"
                                    onclick="redirectTasksSwapOrder(<%= project.id %>, <%= task.id %>, <%= milestone.tasks[+i + 1].id %>); return false;">
                                ▼
                            </button>
                        <% } %>
                    </div>

                <% } %>

                <%- include("./_show", {task}) %>

                <div class="clear"></div>

            </div>
        <% } %>

        <% if ((locals.loginUser && locals.loginUser.developerId === project.consultantId) &&
                project.state &&
                ["tasksPending"].includes(project.state)) { %>

            <button class="right button" onclick="redirectTaskNew(<%= project.id %>, <%= milestone.id %>); return false;">
                Add new task
            </button>

            <div class="clear"></div>

        <% } %>

    </div>

<% } %>

