<h1>Crear Nueva Task</h1>

<form is="form-with-tzo" id="newTaskForm" action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/tasks" method="POST">

    <div class="card">
        <%- include("./_form", {project, milestone, browserTimezoneOffset}) %>
    </div>

</form>

<button class="button" onclick="redirectTasksEdit(<%= project.id %>, <%= milestone.id %>); return false;">
    Cancel
</button>

<button class="button" onclick="submitFormById('newTaskForm'); return false;">
    Save
</button>