<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<h1>Objectives and Constraints</h1>

<div class="card">
    <%- include("./_editObjectives", {project}) %>

    <% if ((locals.loginUser.clientId === project.clientId &&
                    !project.state) ||
            (locals.loginUser.developerId === project.consultantId &&
                    project.state &&
                    ["scopingInProgress"].includes(project.state))) { %>

        <%- include("./_newObjective", {project}) %>

    <% } %>
</div>


<div class="card">
    <%- include("./_editConstraints", {project}) %>

    <% if ((locals.loginUser.clientId === project.clientId &&
                    !project.state) ||
            (locals.loginUser.developerId === project.consultantId &&
                    project.state &&
                    ["scopingInProgress"].includes(project.state))) { %>
        <%- include("./_newConstraint", {project}) %>

    <% } %>
</div>

<button id="projectNextButton" data-project-id="<%= project.id %>">Next</button>
<script type="module">
  document.getElementById('projectNextButton').addEventListener('click', async ev => {

      <% if (locals.loginUser.clientId === project.clientId && !project.state) { %>

    ev.preventDefault();
    const projectId = ev.target.dataset.projectId;
    location.href = addTZO("/projects/" + projectId);

      <% } else if (locals.loginUser.developerId === project.consultantId &&
              project.state &&
              ["scopingInProgress"].includes(project.state)) { %>


    ev.preventDefault();
    const projectId = ev.target.dataset.projectId;
    location.href = "/projects/" + projectId + "/milestones";


      <% } %>

  });
</script>
