<% if (!project.state) { %>
    <%- include('./headers/_empty', {project, title: "What do you want to achieve?"}) %>
<% } else if (project.state === "scopingInProgress" ) { %>
    <%- include('./headers/_empty', {project, title: "Review the Project Scope and Milestones"}) %>
<% } else { %>
    <%- include('./headers/_empty', {project, title: "Project description"}) %>
<% } %>

<div class="card">
    <%- include("./objectives/_edit", {project}) %>

    <% if ((locals.loginUser.clientId === project.clientId &&
                    !project.state) ||
            (locals.loginUser.developerId === project.consultantId &&
                    project.state &&
                    ["scopingInProgress"].includes(project.state))) { %>

        <%- include("./objectives/_new", {project}) %>

    <% } %>
</div>


<div class="card">
    <%- include("./constraints/_edit", {project}) %>

    <% if ((locals.loginUser.clientId === project.clientId &&
                    !project.state) ||
            (locals.loginUser.developerId === project.consultantId &&
                    project.state &&
                    ["scopingInProgress"].includes(project.state))) { %>
        <%- include("./constraints/_new", {project}) %>

    <% } %>
</div>

<a is="a-with-tzo" href="/projects/<%= project.id %>/edit" class="button">back</a>


<button id="projectNextButton" data-project-id="<%= project.id %>">Next</button>
<script type="module">
  document.getElementById('projectNextButton').addEventListener('click', async ev => {

      <% if (locals.loginUser.clientId === project.clientId && !project.state) { %>

    ev.preventDefault();
    const projectId = ev.target.dataset.projectId;
    location.href = addTZO("/projects/" + projectId);

      <% } else if (locals.loginUser.developerId === project.consultantId &&
              project.state &&
              ["scopingInProgress"].includes(project.state)) { %>


    ev.preventDefault();
    const projectId = ev.target.dataset.projectId;
    location.href = "/projects/" + projectId + "/milestones/edit";


      <% } %>

  });
</script>
