

<%- include('../components/_cancelTopbar', {step: 1}) %>

<%- include('./headers/_project', { project }) %>

<div id="appTwoColumns">


    <div class="col1">

        <div class="projectContainer1col">
            <div class="projectProposal projectProposal__summary">

                <%- include("../proposals/info/_body", {project}) %>


            <% if (project.milestones?.length) { %>
                    <%- include("../milestones/info/_showMilestones", {project}) %>
                <% } %>
            </div>

        </div>
    </div>




    <div class="col2">
        <%- include("./actions/body/_all", {project}) %>
    </div>
</div>
