

<%- include('../components/_cancelTopbar', {step: 1}) %>

<%- include('./headers/_project', { project }) %>

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
    </div>

    <div class="col2 mainContentContainer">


        <div class="projectProposal">

            <%- include("../proposals/info/_body", {project}) %>


            <% if (project.milestones?.length) { %>
                <%- include("../milestones/info/_showMilestones", {project}) %>
            <% } %>
        </div>

        <div class="">
            <%- include("./actions/body/_all", {project}) %>
        </div>
    </div>
</div>
