<div id="appTwoColumns">
  <div class="">
    <!-- Sidebar -->
    <%- include('../components/_mainSidebar') %>
  </div>

  <div class="">
    <%- include('./headers/_project', { project }) %>
    <div class="mainContentContainer">
        <div class="projectContainer">
            <div class="projectContainer__col1">
                <%- include("../proposals/info/_body", {project}) %>
            </div>

            <div class="projectContainer__col2">
                <% if (project.milestones?.length) { %> <%-
                include("../milestones/info/_showMilestones", {project}) %> <% } %>
            </div>
        </div>

      <%- include("./actions/body/_all", {project}) %>
    </div>
  </div>
</div>
