<div id="appTwoColumns">
  <div class="col1">
    <!-- Sidebar -->
    <%- include('../layouts/components/sidebar/appSidebar') %>
  </div>
  <!-- Content -->
  <div class="col2">
    <%- include('./headers/_empty', {project, title: "Ready to share this with our team?", subtitle: "Once submitted, your project will be reviewed and voted on by DAO members within 48–72 hours."}) %>

    <div class="projectContainer1col">
      <div class="projectProposal projectProposal__summary">
        <%- include("./proposals/_show", {project}) %> <%-
        include("./objectives/_show", {project}) %> <%-
        include("./constraints/_show", {project}) %> <% if
        (project.milestones?.length) { %> <%-
        include("./_showMilestonesAndTasks", {project}) %> <% } %>
      </div>
      <%- include("./submits/_all", {project}) %>
    </div>
  </div>
</div>
