<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<%- include('../projectNav/_menu', {project})  %>

<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
    <button class="right adminDAO projectDelete" data-project-id="<%= project.id %>">Delete</button>
    <button class="right adminDAO projectReject" data-project-id="<%= project.id %>">Reject</button>
    <button class="right adminDAO projectApprove" data-project-id="<%= project.id %>">Approve</button>
    <button class="right adminDAO projectConsultant" data-project-id="<%= project.id %>">Select Consultant</button>
<% } %>


<% if (locals.loginUser && locals.loginUser.clientId === project.clientId) { %>

    <% if (!project.state) { %>
        <button class="projectEdit" data-project-id="<%= project.id %>">Review</button>
    <% } %>

    <% if (!project.state) { %>
        <button class="projectSubmit" data-project-id="<%= project.id %>">Submit</button>
    <% } %>

    <% if (project.state && ["validationNeeded"].includes(project.state)) { %>
        <button class="scopeAccept" data-project-id="<%= project.id %>">Accept Scope</button>
        <button class="scopeReject" data-project-id="<%= project.id %>">Reject Scope</button>
    <% } %>
<% } %>


<% if (locals.loginUser && locals.loginUser.developerId === project.consultantId) { %>

    <% if (project.state && ["scopingInProgress"].includes(project.state)) { %>
        <button class="projectEdit" data-project-id="<%= project.id %>">Review</button>
        <button class="scopeSubmit" data-project-id="<%= project.id %>">Submit</button>
    <% } %>

    <% if (project.state && ["taskingInProgress"].includes(project.state)) { %>
        <button class="taskReview" data-project-id="<%= project.id %>">Review tasks</button>
    <% } %>
<% } %>




<script type="module">
  document.addEventListener("click", async ev => {

    const projectId = ev.target.dataset.projectId;

    if (ev.target.matches(".projectEdit")) {
      ev.preventDefault();
      location.href = addTZO("/projects/" + projectId + "/edit");

    } else if (ev.target.matches(".scopeSubmit")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/scopeSubmit?_method=PUT";

    } else if (ev.target.matches(".projectSubmit")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/projectSubmit?_method=PUT";

    } else if (ev.target.matches(".scopeAccept")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/scopeAccept?_method=PUT";

    } else if (ev.target.matches(".scopeReject")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/scopeReject?_method=PUT";

    } else if (ev.target.matches(".projectDelete")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "?_method=DELETE";

    } else if (ev.target.matches(".projectReject")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/reject?_method=PUT";

    } else if (ev.target.matches(".projectApprove")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/approve?_method=PUT";

    } else if (ev.target.matches(".projectConsultant")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/consultant/select";

    } else if (ev.target.matches(".taskReview")) {
      ev.preventDefault();
      location.href = "/projects/" + projectId + "/tasks/edit";
    }
  })
</script>

<h1><%= project.title %></h1>


<%- include("./_showBasic", {project}) %>

<%- include("./_showObjectives", {project}) %>

<%- include("./_showConstraints", {project}) %>

<% if (project.milestones?.length) { %>
    <%- include("./_showMilestonesAndTasks", {project}) %>
<% } %>
