
<div class="bodyProposals">

    <span class="bodyProposals__item">
        <div class="proposalDeliveryTime">
            <h6>Delivery Time</h6> 
            <p class="proposalDeliveryTime__content">
                <span>
                    <%= project.deliveryTimeDescription ?? "Delivery Time Pendiente" %>:
                </span>
                <span>
                    <%= new Date(project.deliveryDate - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() %>
                </span>
            </p>
        </div>

        <div class="proposalBudget">
            <h6>Total available budget</h6> 
            <p><%= project.budgetDescription  ?? "Pendiente" %></p>
        </div>
    </span>

    <span class="bodyProposals__item proposalDescription">
        <div class="proposalDescription">
            <h6>Project Description</h6> 
            <p><%= project.description %></p>
        </div>
    </span>

    <span class="bodyProposals__item ">
        <div class="proposalProjectType">
            <h6>Project type</h6> 
            <p><%= project.projectType  ?? "Pendiente" %></p>
        </div>
    </span>

</div>
