
<div class="bodyProposals">

    <span class="bodyProposals__item">
        <div class="proposalDeliveryTime">
            <h6>Delivery Time</h6> 
            <p class="proposalDeliveryTime__content">
                <span>
                    <%= locals.allDeliveryTimes[project.deliveryTime]?.description ?? "Delivery Time Pending" %>
                </span>
                <span>
                    <% if (project.deliveryTime == 3) { %>
                   (<%= new Date(project.deliveryDate - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() %>)
                    <% } %>
                </span>
            </p>
        </div>

        <div class="proposalBudget">
            <h6>Total available budget</h6> 
            <p><%= locals.allBudgets[project.budget]?.description ?? "Pending" %></p>
        </div>
    </span>

    <span class="bodyProposals__item proposalDescription">
        <div class="proposalDescription">
            <h6>Project Description</h6> 
            <p><%= project.description || "Pending" %></p>
        </div>
    </span>

    <span class="bodyProposals__item ">
        <div class="proposalProjectType">
            <h6>Project type</h6> 
            <p><%= locals.allProjectTypes[project.projectType]?.description ?? "Pending" %></p>
        </div>
    </span>

</div>
