
<div class="">


    <div class="form-group">

        <p><strong>Description:</strong> <%= project.description %></p>

        <p><strong>Budget:</strong> <%= project.budget?.description %> </p>

        <p><strong>Project type:</strong> <%= project.projectType?.description %> </p>

        <p><strong>Delivery time:</strong> <%= project.deliveryTime?.description %> </p>
        <p>
            <strong>Delivery Date:</strong>
            <%= new Date(project.deliveryDate - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() %>
        </p>

    </div>

</div>
