

<div class="infoHeader">
    <h1 class="infoHeader__title"> <%= project.title %> </h1>

    <p class="infoHeader__summary"> <%= project.summary %> </p>

    <!-- client -->
    <div class="infoHeader__client">
        <img class="attachment" src="/clients/<%= project.clientId %>/attachment">
        <p>
            <span>
                <%= project.client.name %>
            </span>
            <span>
                <%= new Date(project.createdAt - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() %>
            </span>
        </p>
    </div>

    <p class="infoHeader__url">
        <i class="ri-global-fill"></i>
        <%= project.client.website %>
    </p>

</div>