<nav id="appSidebar" role="navigation" class="mainSidebar">

    <div class="mainSidebar__header">
        <div class="logo">
            <img src="/images/polkatalent_logo.svg" alt="Polka Talent brand logo"/>
            <bold>PolkaTalent</bold>
        </div>
        <div class="notifications">
            <span class="notifications__dot"></span>
            <i class="ri-notification-2-line"></i>
        </div>
    </div>

    <ul class="mainSidebar__menu">
        <!-- Dashboard -->
        <li class="todo">

            <% if (locals.loginUser?.clientId) { %>
                <a href="/clients/<%= locals.loginUser.clientId %>/projects">
                    <i class="ri-layout-vertical-line"></i><span> Dashboard</span>
                </a>
            <% } %>

            <% if (locals.loginUser?.developerId) { %>
                <a href="/developers/<%= locals.loginUser.developerId %>/projects">
                    <i class="ri-layout-vertical-line"></i><span> Dashboard</span>
                </a>
            <% } %>

        </li>

        <!-- Profile -->
        <li class="todo">
                <% if (locals.loginUser?.developerId) { %>
                    <a href="/developers/<%= loginUser.developerId %>/profile">
                        <i class="ri-user-line"></i>
                        Profile
                    </a>
                <% } %>

                <% if (locals.loginUser?.clientId) { %>
                    <a href="/clients/<%= loginUser.clientId %>/profile">
                        <i class="ri-user-line"></i>
                        Profile
                    </a>
                <% } %>
        </li>


        <!-- Reputation -->
        <!--
        < % if (locals.loginUser?.developerId) { % >
        <li class="todo">
            <a href="#">
                <i class="ri-user-line"></i>
                <span> Reputation </span>
            </a>
        </li>
        < % } % >
        -->

        <!-- Governance -->
        <% if (locals.loginUser?.developerId) { %>
        <li class="todo">
            <a href="#">
                <i class="ri-bank-line"></i>
                <span> Governance </span>
            </a>
        </li>
        <% } %>

        <!-- Payments -->
        <% if (locals.loginUser) { %>
            <li class="todo">
                <a href="/payments">
                    <i class="ri-bank-card-line"></i>
                    <span>Payments</span>
                </a>
            </li>
        <% } %>

        <div class="divider divider-h"></div>

        <!-- Projects -->

        <% if (locals.loginUser?.developerId) { %>
            <li>
                <a href="/developers/<%= loginUser.developerId %>/projects">
                    <i class="ri-notification-2-line"></i>
                    <span>Projects</span>
                </a>
            </li>
        <% } %>

        <% if (locals.loginUser?.clientId) { %>
            <li>
                <a href="/clients/<%= loginUser.clientId %>/projects">
                    <i class="ri-notification-2-line"></i> <span>Projects</span>
                </a>
            </li>
        <% } %>
    </ul>


    <ul class="sidebarUser">
        <li class="sidebarUser__wrapper menuBtn">

            <% if (locals.loginUser?.developerId) { %>
                <div class="userContainer">
                    <span class="userContainer__avatar">
                        <img class="attachment"
                        src="/developers/<%= loginUser.developerId %>/attachment"
                        />
                        <span class="dot hidden"></span>
                    </span>
                    <span class="userContainer__info">
                        <%= loginUser.name %>
                        <small class="status hidden"><%= "availability" %></small>
                    </span>
                </div>
            <% } %>
            <% if (locals.loginUser?.clientId) { %>
                <div class="userContainer">
                    <span class="userContainer__avatar">
                        <img class="attachment"
                            src="/clients/<%= loginUser.clientId %>/attachment"
                        />
                        <span class="dot hidden"></span>
                    </span>
                    <span class="userContainer__info">
                        <%= loginUser.name %>
                        <small class="status hidden"><%= "availability" %></small>
                    </span>
                </div>
            <% } %>

            <a href="/auth/logout?_method=DELETE">
                <i class="ri-logout-box-r-line"></i>
            </a>
        </li>
        <!-- %- include('../components/Sidebar/_sidebarUser') %> -->
        
    </ul>
</nav>
