<section class="progressSidebar">

    <div>
       <span class="step <%= +step >= 1 ? "step--active" : "" %>"> 1 </span>
       <p>
            Create Project Proposal
        </p>
    </div>
    <div class="conector conector-v <%= +step >= 2 ? "conector--active" : "" %>"></div>
    <div>
        <span class="step <%= +step >= 2 ? "step--active" : "" %>"> 2 </span>
        <p>
            Create Milestones
        </p>
    </div>
    <div class="conector conector-v <%= +step >= 3 ? "conector--active" : "" %>" ></div>
    <div>
        <span class="step <%= +step >= 3 ? "step--active" : "" %>"> 3 </span>
        <p>
            Develop Project
        </p>
    </div>

</section>
 