
<section class="mainContentContainer payments">

    <% for (let project of projects) { %>

        <h1 class="payments__projectTitle">
            Project <%= project.title %>
        </h1>


        <% let milestonesAwaitingPayment = project.milestones.filter(milestone => (milestone.state === "AwaitingPayment")); %>
        <% let milestonesPaid = project.milestones.filter(milestone => (milestone.state === "Paid")); %>

        <div class="payments__paymentInfo">
            <p class="paymentInfoItem">
                <span class="paymentInfoItem__title">
                    Total Budget Funded
                </span>
                <span class="paymentInfoItem__ammount">
                    $<%= project.milestones.reduce((acc, milestone) => acc + milestone.budget, 0) %>
                </span>
            </p>
        </div>

        <section class="milestoneGrid payments">

            <article>
                <p class="paymentInfoItem">
                    <span class="paymentInfoItem__title">
                        Funds Awaiting Payment
                    </span>
                    <span class="paymentInfoItem__ammount">
                        $<%= milestonesAwaitingPayment.reduce((acc, milestone) => acc + milestone.budget, 0) %>
                    </span>
                </p>

                <div class="milestoneGrid__col">
                    <h3 class="colHeader">
                        <span class="counter"><%= milestonesAwaitingPayment.length %></span>
                        <span> Awaiting Payment </span>
                    </h3>
                    <% for (let milestone of milestonesAwaitingPayment) { %>
                        <div class="milestone">
                            <%- include("./__paymentGridItem", {project, milestone}) %>
                        </div>
                        <% } %>
                </div>
            </article>


            <article>
                
                <p class="paymentInfoItem">
                    <span class="paymentInfoItem__title">
                        Funds Paid
                    </span>
                    <span class="paymentInfoItem__ammount">
                        $<%= milestonesPaid.reduce((acc, milestone) => acc + milestone.budget, 0) %>
                    </span>
                </p>

                <div class="milestoneGrid__col">
                    <h3 class="colHeader">
                        <span class="counter"><%= milestonesPaid.length %></span>
                        <span> Paid</span>
                    </h3>
                    <% for (let milestone of milestonesPaid) { %>
                        <div class="milestone">
                            <%- include("./__paymentGridItem", {project, milestone}) %>
                        </div>
                    <% } %>
                </div>
            </article>
            
        </section>
        <div class="divider-h"></div>
    <% } %>


</section>
