<% const client = c; %>

<section class="milestones">

    <% for (let project of projects) { %>

        <h1> Proyecto <%= project.title %> </h1>

        <% let developerPendingMilestones = project.milestones.filter(milestone => (milestone.state === "InProgress")); %>
        <% let clientValidationNeededMilestones = project.milestones.filter(milestone => (milestone.state === "ClientValidationNeeded")); %>
        <% let rejectedByClientMilestones = project.milestones.filter(milestone => (milestone.state === "RejectedByClient")); %>
        <% let completedMilestones = project.milestones.filter(milestone => (milestone.state === "Completed")); %>

        <section style="display: flex; align-items: strech;">

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> Scheduled Milestones (<%= developerPendingMilestones.length %>) </h3>
                <% for (let milestone of developerPendingMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> In Client Review (<%= clientValidationNeededMilestones.length %>) </h3>
                <% for (let milestone of clientValidationNeededMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> Rejected (<%= rejectedByClientMilestones.length %>) </h3>
                <% for (let milestone of rejectedByClientMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> Completed (<%= completedMilestones.length %>) </h3>
                <% for (let milestone of completedMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

        </section>
    <% } %>
</section>

