<% const client = c; %>

<section class="milestones mainContentContainer">

    <% for (let project of projects) { %>

        <h1> Proyecto <%= project.title %> </h1>

        <% let milestonesWaitingForDeveloperAssignation = project.milestones.filter(milestone => (milestone.state === "InProgress")); %>
        <% let milestonesWaitingForClientAcceptSubmission = project.milestones.filter(milestone => (milestone.state === "WaitingClientAcceptSubmission")); %>
        <% let submissionRejectedByClientMilestones = project.milestones.filter(milestone => (milestone.state === "RejectedByClient")); %>
        <% let completedMilestones = project.milestones.filter(milestone => (milestone.state === "Completed")); %>

        <section class="dashboardMilestones">

            <div class="dashboardMilestones__milestoneCol">
                <h3> Scheduled Milestones (<%= milestonesWaitingForDeveloperAssignation.length %>) </h3>
                <% for (let milestone of milestonesWaitingForDeveloperAssignation) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div class="dashboardMilestones__milestoneCol">
                <h3> In Client Review (<%= milestonesWaitingForClientAcceptSubmission.length %>) </h3>
                <% for (let milestone of milestonesWaitingForClientAcceptSubmission) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div  class="dashboardMilestones__milestoneCol">
                <h3> Rejected (<%= submissionRejectedByClientMilestones.length %>) </h3>
                <% for (let milestone of submissionRejectedByClientMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div  class="dashboardMilestones__milestoneCol">
                <h3> Completed (<%= completedMilestones.length %>) </h3>
                <% for (let milestone of completedMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

        </section>
    <% } %>
</section>

