<% const client = c; %>

<section class="milestones mainContentContainer">

    <% for (let project of projects) { %>

        <h1> Proyecto <%= project.title %> </h1>

        <% let milestonesWaitingForDeveloperAssignation = project.milestones.filter(milestone => (milestone.state === "InProgress")); %>
        <% let milestonesWaitingForClientAcceptSubmission = project.milestones.filter(milestone => (milestone.state === "WaitingClientAcceptSubmission")); %>
        <% let submissionRejectedByClientMilestones = project.milestones.filter(milestone => (milestone.state === "RejectedByClient")); %>
        <% let completedMilestones = project.milestones.filter(milestone => (milestone.state === "Completed")); %>

        <section style="display: flex; align-items: strech;">

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> Scheduled Milestones (<%= milestonesWaitingForDeveloperAssignation.length %>) </h3>
                <% for (let milestone of milestonesWaitingForDeveloperAssignation) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> In Client Review (<%= milestonesWaitingForClientAcceptSubmission.length %>) </h3>
                <% for (let milestone of milestonesWaitingForClientAcceptSubmission) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> Rejected (<%= submissionRejectedByClientMilestones.length %>) </h3>
                <% for (let milestone of submissionRejectedByClientMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

            <div style="flex: 1; border: solid white 2px; margin: 15px 5px; padding: 5px;  background-color: darkslategrey;">
                <h3> Completed (<%= completedMilestones.length %>) </h3>
                <% for (let milestone of completedMilestones) { %>
                    <%- include("./__milestoneGridItem", {project, milestone}) %>
                <% } %>
            </div>

        </section>
    <% } %>
</section>

