


<section class="projects">
    <% for (let project of projects) { %>

        <article class="projectsIndex">
            <h4 class="title"><%= project.title %></h4>

            <ul class="users">
                <li class="user" id="client">
                    <% if (project.clientId) { %>
                        <img class="attachment"
                             src="/clients/<%= project.clientId %>/attachment"
                        />
                        <small> <%= project.client.name %> </small>
                    <% } else { %>
                        <img class="attachment" src="/images/none.png"/>
                        <small> <%= 'none' %> </small>
                    <% } %>
                </li>

                <li class="user" id="consultant">
                    <% if (project.consultant) { %>
                        <img class="attachment"
                             src="/developers/<%= project.consultantId %>/attachment"
                        />
                        <small> <%= project.consultant.name %> </small>
                    <% } else { %>
                        <img class="attachment" src="/images/none.png"/>
                        <small> <%= 'none' %> </small>
                    <% } %>
                </li>

                <li class="user" id="developer">
                    <% if (developer && project.milestones.some(m =>
                            m.developerId === developer.id)) { %>
                        <img class="attachment"
                             src="/developers/<%= developer.id %>/attachment"
                        />
                        <small> <%= developer.name %> </small>
                    <% } %>
                </li>
            </ul>

            <div class="state">
                <i class="ri-timer-2-line"></i>
                <%= project.state ?? 'Unknown' %>
            </div>

            <div class="actions">
                <a class="btn btn_primary"
                   href="/projects/<%= project.id %>" >
                    Show
                </a>

                <% if (locals.loginUser && locals.loginUser.isAdmin) { %>

                    <a class="adminDAO btn btn_icon bth_href"
                       href="/projects/<%= project.id %>?_method=DELETE" >
                        <i class="ri-delete-bin-7-line"></i>
                    </a>

                <% } %>
            </div>
        </article>
    <% } %>
</section>