<h1>Developers</h1>

<p>
    <a href="/">Home</a>
</p>

<table class="usersIndex">
    <thead>
    <tr>
        <th>ID</th>
        <th>Attachment</th>
        <th>Email
            <br/>
            Name
            <br/>
            BC Address
        </th>
        <th>Bio
            <br/>
            Background
        </th>
        <th>Role</th>
        <th>Proficiency</th>
        <th>github</th>
        <th>Portfolio</th>
        <th>Location</th>
        <th>Availability</th>
        <th>Languages</th>
        <th>Skills</th>
    </tr>
    </thead>
    <tbody>
    <% developers.forEach(developer => { %>
        <tr>
            <td><%= developer.id %></td>
            <td>
                <div class="attachment">
                    <%- include("./_attachment", {developer}) %>
                </div>
            </td>
            <td>
                <%= developer.email %>
                <br/>
                <%= developer.name %>
                <br/>
                <small><%= developer.address %></small></td>
            <td><%= developer.bio ? "Yes" : "No" %>
                <br/>
                <%= developer.background ? "Yes" : "No" %>
            </td>
            <td><%= developer.role %></td>
            <td><%= developer.proficiency %></td>
            <td><%= developer.githubUsername %></td>
            <td><%= developer.portfolioUrl ? "Yes" : "No" %></td>
            <td><%= developer.location %></td>
            <td><%= developer.availability %></td>
            <td><%= developer.languages.join(", ") %></td>
            <td><%= developer.skills.join(", ") %></td>
        </tr>
    <% }) %>
    </tbody>
</table>

