

<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
    <button class="adminDAO"
            onclick="redirectSelectMilestoneDeveloper(<%= project.id %>, <%= milestone.id %>); return false;">
        Select/Change Milestone Developer
    </button>

    <% if (milestone.assignation?.developerId) { %>

        <button class="adminDAO"
                onclick="redirectDAODeveloperMilestoneAccept(<%= project.id %>, <%= milestone.id %>, <%= milestone.assignation.developerId %>); return false;">
            (DAO TMP) Developer: Accept Milestone
        </button>

        <button class="adminDAO"
                onclick="redirectDAODeveloperMilestoneReject(<%= project.id %>, <%= milestone.id %>, <%= milestone.assignation.developerId %>); return false;">
            (DAO TMP) Developer: Reject Milestone
        </button>
    <% } %>

<% } %>

