
<div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"
           value="<%= milestone.title %>"
           placeholder="Title" autocomplete="off" required>
</div>


<div class="form-group">
    <label for="description">Descripción:</label>
    <textarea id="description" name="description"><%= milestone.description %></textarea>
</div>


<div class="form-group">
    <label for="budget">Budget (USD):</label>
    <input type="number" step="0.01" id="budget"
           value="<%= milestone.budget %>"
           name="budget" placeholder="budget" autocomplete="off">
</div>



<div class="form-group">
    <label for="deliveryTimeId">Delivery time:</label>
    <% for (const deliveryTime of allDeliveryTimes) { %>
        <p>
            <input type="radio"
                   id="deliveryTimeId"
                   name="deliveryTimeId"
                   value="<%= deliveryTime.id %>"
                    <%= milestone.deliveryTimeId === deliveryTime.id && "checked" %>
            />
            <b><%= deliveryTime.description %></b>
        </p>
    <% } %>

</div>


<div class="form-group">
    <label for="deliveryDate">Delivery Date:</label>
    <input type="datetime-local" id="deliveryDate" name="deliveryDate"
           value="<%= new Date(milestone.deliveryDate - browserTimezoneOffset).toISOString().slice(0, 16) %>"
           placeholder="Delivery Date" autocomplete="off">
</div>

