
<!-- Choices.js CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<!-- Choices.js JS -->
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>




<div class="formMilestone__milestone">
    <div class="form-group title">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"
               value="<%= milestone.title %>"
               placeholder="Title" autocomplete="off" required>
    </div>
    
    
    <div class="form-group description">
        <label for="description">Description:</label>
        <textarea id="description" name="description" placeholder="Description" required><%= milestone.description %></textarea>
    </div>
    
    
    <div class="form-group budget">
        <label for="budget">Budget (USD):</label>
        <input type="number" step="0.01" id="budget"
               value="<%= milestone.budget %>"
               name="budget" placeholder="budget" autocomplete="off" required>
    </div>
    
    
    
    <div class="form-group time formGroup--radio input--radio">
        <label for="deliveryTimeId">Delivery time:</label>
        <% for (const deliveryTime of allDeliveryTimes) { %>
            <span>
                <input type="radio"
                       id="deliveryTimeId"
                       name="deliveryTime"
                       value="<%= deliveryTime.id ?? 0 %>"
                       required
                        <%= milestone.deliveryTime == deliveryTime.id && "checked" %>
                />
                <b><%= deliveryTime.description %></b>
            </span>
        <% } %>
    
    </div>
    
    
    <div class="form-group date icon-right">
        <label for="deliveryDate">Delivery Date:</label>
        <input type="datetime-local" id="deliveryDate" name="deliveryDate" class="date-picker"
               value="<%= new Date(milestone.deliveryDate - browserTimezoneOffset).toISOString().slice(0, 16) %>"
               placeholder="Delivery Date" autocomplete="off">
          <i class="ri-calendar-2-line"></i>
    </div>
</div>

<h6>Required Professional</h6>
<div class="formMilestone__dev">
    <div class="form-group role">
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="">None</option>
            <% allRoles.forEach(role => { %>
                <option value="<%= role %>"
                        <%= milestone.role === role && "selected" %> >
                    <%= role %> %>
                </option>
            <% }) %>
        </select>
    </div>
    
    <div class="form-group proficiency">
        <label for="proficiency">Proficiency:</label>
        <select id="proficiency" name="proficiency" required>
            <option value="">None</option>
            <% allProficiencies.forEach(prof => { %>
                <option value="<%= prof %>"
                        <%= milestone.proficiency === prof && "selected" %> >
                    <%= prof %>
                </option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="availability">Availability:</label>

        <select id="availability" name="availability" required>
            <option value="">None</option>
            <option value="fulltime" <%= milestone.availability === "fulltime" && "selected" %>>Full Time</option>
            <option value="parttime" <%= milestone.availability === "parttime" && "selected" %>>Part Time</option>
            <option value="hourly"   <%= milestone.availability === "hourly"   && "selected" %>>Hours per Week</option>
        </select>
    </div>

    <div class="form-group hourly">
        <label for="neededHours">Hours per week:</label>
        <input id="neededHours"
               type="number"
               name="neededHours"
               value="<%= parseInt(milestone.neededHours) || '' %>"
               min="0"/>
    </div>

    <div class="form-group skills formGroup--check profileCard__section">
        <label for="skills">Skills:</label>

        <select id="skills" name="skills[]" multiple>
            <% allSkills.forEach(skill => { %>
                <% const selected = (milestone.skills || []).includes(skill); %>
                <option value="<%= skill %>" <%= selected ? "selected" : "" %>>
                    <%= skill %>
                </option>
            <% }) %>
        </select>
    </div>


</div>



<script src="/javascripts/perfil.js"></script>





